<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broadcast Form</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" th:src="@{/js/broadcastForm_js.js}">

</script>
</head>
<body>



<form method="post" action="/api/broadcasts">
    <h2>방송 정보</h2>
    <label for="broadcastTitle">Broadcast Title:</label>
    <input type="text" id="broadcastTitle" name="broadcastTitle" required><br>

    <label for="broadcastDescription">Broadcast Description:</label>
    <textarea id="broadcastDescription" name="broadcastDescription" required></textarea><br>

    <h2>상품 정보</h2>
    <label for="productName">Product Name:</label>
    <input type="text" id="productName" name="productName" required><br>

    <label for="productPrice">Product Price:</label>
    <input type="number" id="productPrice" name="productPrice" required><br>

    <label for="productStock">Product Stock:</label>
    <input type="number" id="productStock" name="productStock" required><br>

    <button type="submit">Submit</button>
</form>

</body>
</html>