<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Broadcast List</title>
</head>
<body>

<h2>Broadcast List</h2>

<table border="1">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>User Name</th>
        <th>Product Name</th>
    </tr>
    </thead>
    <tbody>
    <!-- Thymeleaf iteration over the broadcastResponseDtoList -->
    <tr th:each="broadcastResponseDto : ${broadcastResponseDtoList}">
        <td th:text="${broadcastResponseDto.broadCastTitle}"></td>
        <td th:text="${broadcastResponseDto.broadCastDescription}"></td>
        <td th:text="${broadcastResponseDto.userName}"></td>
        <td th:text="${broadcastResponseDto.productName}"></td>
        <td>
            <button class="view-details-button" th:attr="data-broadcast-id=${broadcastResponseDto.broadcastId}"
                    style="cursor: pointer;">View Details
            </button>
        </td>
    </tr>
    </tbody>
</table>
<button onclick="window.location.href='/broadcasts/start'">방송 시작하기</button>
<script type="text/javascript" th:src="@{/js/broadcastList_js.js}"></script>
</body>
</html>
