<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<h1>Show product</h1>

<div th:if="${not #lists.isEmpty(productFind)}">
    <table>
        <thead>
        <tr>
            <th>productName</th>
            <th>productPrice</th>
<!--            <th>productImage</th>-->
            <th>productStock</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${productFind.getProductName()}"></td>
            <td th:text="${productFind.getProductPrice()}"></td>
            <td th:text="${productFind.getProductStock()}"></td>
<!--            <td>-->
<!--                <div th:each="url : ${menu.pictureUrls}">-->
<!--                    <img th:src="${url}" alt="Menu Image" style="max-width: 100px; max-height: 100px;"/>-->
<!--                </div>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${#lists.isEmpty(productFind)}">
    <p>No products available.</p>
</div>

<!--<button onclick="requestPay()">결제하기</button>-->
<!--<script>-->
<!--    var IMP = window.IMP;-->
<!--    IMP.init("내 가맹점 식별코드");-->

<!--    function requestPay() {-->
<!--        IMP.request_pay({-->
<!--            pg: "{PG사 코드}.{상점ID}",-->
<!--            pay_method: "card",-->
<!--            merchant_uid: "ORD20180131-0000011",   // 주문번호-->
<!--            name: "노르웨이 회전 의자",-->
<!--            amount: 64900,                         // 숫자 타입-->
<!--            buyer_email: "gildong@gmail.com",-->
<!--            buyer_name: "홍길동",-->
<!--            buyer_tel: "010-4242-4242",-->
<!--            buyer_addr: "서울특별시 강남구 신사동",-->
<!--            buyer_postcode: "01181"-->
<!--        }, function (rsp) { // callback-->
<!--            $.ajax({-->
<!--                type: 'POST',-->
<!--                url: '/verify/' + rsp.imp_uid-->
<!--            }).done(function(data) {-->
<!--                if(rsp.paid_amount === data.response.amount){-->
<!--                    alert("결제 성공");-->
<!--                } else {-->
<!--                    alert("결제 실패");-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    }-->
<!--</script>-->
<!-- jQuery -->
<!--<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>-->
<!--&lt;!&ndash; iamport.payment.js &ndash;&gt;-->
<!--<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>-->
</body>
</html>