<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyTaek1 - Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
</head>
<body>
    <nav class="navbar"></nav>
    <h1>Show product</h1>
    <div th:if="${not #lists.isEmpty(productFind)}">
        <table>
            <thead>
            <tr>
                <th>productName</th>
                <th>productPrice</th>
                <th>productStock</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td id="productName" th:text="${productFind.getProductName()}"></td>
                <td id="productPrice" th:text="${productFind.getProductPrice()}"></td>
                <td id="productStock" th:text="${productFind.getProductStock()}"></td>
            </tr>
            </tbody>
        </table>
        <input type="number" id="quantity" />
        <input type="hidden" id="buyerProductId" th:value="${productFind.getProductId()}" />
    </div>
    <div th:if="${#lists.isEmpty(productFind)}">
        <p>No products available.</p>
    </div>
    <button id="orderButton" onclick="createOrder()">주문하기</button>
    <script type="text/javascript">
        const productStock = document.getElementById("productStock").textContent;
        const productPrice = document.getElementById("productPrice").textContent;
        const buyerProductId = document.getElementById("buyerProductId").value;

        function createOrder() {
            const isAuthenticated = checkCookieExistence('Authorization');
            const quantity = parseInt(document.getElementById("quantity").value);
            const totalPrice = parseInt(productPrice) * quantity;

            if (quantity > productStock) {
                alert("주문 수량이 재고 수량을 초과합니다.");
                return;
            }

            const orderRequest = {
                quantity: quantity,
                totalPrice: totalPrice
            };

            if (!isAuthenticated) {
                alert('로그인 후에 주문할 수 있습니다.');
                window.location.href = '/api/user/login-page';
            }

            $.ajax({
                type: 'POST',
                url: '/api/products/' + buyerProductId +'/orders',
                contentType: 'application/json',
                data: JSON.stringify(orderRequest),
                success: function (response) {
                    const orderId = response.orderId;
                    window.location.href = `/products/${buyerProductId}/orders/${orderId}`;
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

        function checkCookieExistence(cookieName) {
            return document.cookie.split(';').some((item) => item.trim().startsWith(cookieName + '='));
        }

    </script>
    <script type="text/javascript">
        function checkCookie(name) {
            const cookies = document.cookie.split(';');

            for (const cookie of cookies) {
                const [cookieName, cookieValue] = cookie.trim().split('=');
                if (cookieName === name) {
                    return true;
                }
            }

            return false;
        }

        window.addEventListener("DOMContentLoaded", () => {
            const isAuthenticated = checkCookie('Authorization');

            const navbar = document.querySelector('.navbar');
            navbar.innerHTML = '';

            const homeLink = document.createElement('a');
            homeLink.href = '/';
            homeLink.textContent = 'Home';
            navbar.appendChild(homeLink);

            if (isAuthenticated) {
                const myPageLink = document.createElement('a');
                myPageLink.href = '/my-page';
                myPageLink.textContent = 'MyPage';
                navbar.appendChild(myPageLink);

                const logoutLink = document.createElement('a');
                logoutLink.textContent = 'Logout';
                logoutLink.addEventListener('click', function () {
                    deleteCookie('Authorization');
                });

                logoutLink.href = '/';
                navbar.appendChild(logoutLink);
            } else {
                const loginLink = document.createElement('a');
                loginLink.href = '/api/user/login-page';
                loginLink.textContent = 'Login';
                navbar.appendChild(loginLink);
            }
        });

        function deleteCookie(name) { document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT; path=/;'; }
    </script>
</body>
</html>