<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<h1>Show product</h1>

<div th:if="${not #lists.isEmpty(productFind)}">
    <table>
        <thead>
        <tr>
            <th>productName</th>
            <th>productPrice</th>
<!--            <th>productImage</th>-->
            <th>productStock</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${productFind}">
            <td th:text="${product.productName}"></td>
            <td th:text="${product.productPrice}"></td>
            <td th:text="${product.productStock}"></td>
<!--            <td>-->
<!--                <div th:each="url : ${menu.pictureUrls}">-->
<!--                    <img th:src="${url}" alt="Menu Image" style="max-width: 100px; max-height: 100px;"/>-->
<!--                </div>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${#lists.isEmpty(productFind)}">
    <p>No menus available.</p>
</div>

<a th:href="@{'/'}" class="btn btn-primary">메인 페이지</a>
</body>
</html>